* {margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;-webkit-appearance: none;-moz-appearance: none;}

#header {
    display: flex;
    justify-content: end;
    padding: 8px 16px;
}

#header li {
    text-decoration: none;
    list-style: none;
    padding: 12px 8px;
    font-size: 13px;
}

/* Search form styles */

#search-form {
    text-align: center;
}
#search-form * {
    display: inline-block;
}
#logo {
    padding-top: 109px;
    height: 100px;
}
#q {
    font-size: 1rem;
    width: 600px;
    border-radius: 100px;
    border: 1px solid lightgray;
    padding: .75rem 1.25rem;
    margin: 2rem;
}
.search-button {
    padding: .66rem 1rem;
    font-size: .9rem;
    color: #666;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin: .25rem;
}

/* Footer styles */

#country {
    padding: 12px 28px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #6f6f6f;
    border-top: 1px solid lightgray;
    overflow: hidden;
}
#footer #links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
}
#footer #links ul {
    display: flex;
    list-style: none;
    padding: 0 20px;
}
#footer #links ul li {
    padding: 12px 8px;
    font-size: 13px;
}
